html {
  background: black;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}

#half-and-half {
  background: rgba(255, 255, 255, 0.4);
  height: 100%;
}

  #half-and-half::before {
    content: "";
    position: absolute;
    right: 50%;
    height: 100%;
    background: url(/images/social-engineering-cropped.png);
    z-index: -1;
    width: 50%;
    background-size: cover;
  }

  #half-and-half::after {
    content: "";
    position: absolute;
    left: 50%;
    height: 100%;
    background: url(/images/phishing1-cropped.png);
    z-index: -1;
    width: 50%;
    background-size: cover;
    transition: all 1s;
  }

/*** Loader and content float in ***/
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

  #preload1 {
    background: url(/images/phishing1-cropped.png) no-repeat -9999px -9999px;
  }
  #preload2 {
    background: url(/images/social-engineering-cropped.png) no-repeat -9999px -9999px;
  }

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

/*** Homepage content ***/

h1#big-header {
  font-size: 7vw;
  position: absolute;;
  left: 36%;
}

  /* side-pull buttons */
.side-pull {
  background: black;
  color: white;
  position: absolute;
  top: 44%;
  height: 188px;
  width: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 1s
}

  .side-pull.right {
    right: 0;
    border-radius: 188px 0 0 188px;
  }

    .side-pull.right:hover {
      transform: rotateY(30deg);
      transform-origin: -181px;
    }

  .side-pull.left {
    border-radius: 0 188px 188px 0;
    left: 0;
  }
